*{
    margin: 0;
    padding: 0;
    background-color:#faf7f4; 
    font-family: 'Inter', sans-serif;
}

/* ----------Nav----------- */
#nav{
    height: 100px;
    max-width:1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   
}
.navbar-section, .navbar-section-2 {
    display: flex;
    color: #171a1f;
    gap: 20px;
    list-style: none;
    font-size: 0.9rem;
}

.navbar-section-2 > button:first-child{
    font-size: 1rem;
    border: thin #49A078 solid;
    border-radius: 25px;
    width: 80px;
    height: 40px;
    background-color: transparent;
    color: #49A078;
}
.navbar-section-2 > button:last-child{
    font-size: 1rem;
    border: #49A078 1 solid;
    border-radius: 25px;
    height: 40px;
    width: 125px;
    border: none;
    background-color: #49A078;
    color: #faf7f4
}


/* ----------HeroTop----------- */
#hero-top{
    height: 150px;
    max-width:1440px;
    margin: auto;
    padding: 25px;
}

.hero-quote{
    
    max-width:550px;
    font-family: 'Andada Pro', serif;
    font-size: 2.5rem;
    color: #171a1f;
}
.hero-button{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Andada Pro', serif;
    font-size: 2.5rem;
    border: #49A078 1 solid;
    border-radius: 20px;

    height: 40px;
    width: 180px;
    border: none;
    background-color: #49A078;
    color: #171a1f;
}

/* ----------HeroBottom----------- */
#hero-bottom{
    background-color: blueviolet;
    align-items: center;
    height: 400px;
    margin-bottom: 150px;
}
/* ----------Instructional----------- */
#instructional{
    background-color: cadetblue;
    height: 800px;
    margin-bottom: 200px;
}
/* ----------Footer---------- */
#footer{
    height: 300px;
}






/* ----------Mobile Devices----------- */
@media only screen and (max-width: 768px) {

/* ----------Nav----------- */
.logo > img{
    height: 55px;
}
.navbar-section, .navbar-section-2 {
    gap: 5px;
    font-size: 0.75rem;
}
.navbar-section-2{
    flex-direction: column-reverse;
    align-items: center;
}
.navbar-section-2 > button:first-child{
    font-size: 0.8rem;
    
    border-radius: 25px;
    width: 70px;
    height: 40px;
    background-color: transparent;
    color: #49A078;
}
.navbar-section-2 > button:last-child{
    font-size: 0.8rem;
    border: #49A078 1 solid;
    border-radius: 25px;
    height: 40px;
    width: 100px;
    border: none;
    background-color: #49A078;
    color: #faf7f4
}

/* ----------HeroTop----------- */

/* ----------HeroBottom----------- */

/* ----------Instructional----------- */

/* ----------Footer---------- */

}