*{
    margin: 0;
    padding: 0;
    background-color:#faf7f4; 
    font-family: 'Inter', sans-serif;
}

/* --- Utils ----*/
.hover{
    transition: transform 0.3s ease;
  }
  
.hover:hover {
    transform: scale(1.045);
  }

.pointer{
    cursor: pointer;
}

/* ----------Nav----------- */
#nav{
    height: 100px;
    max-width:1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000; 
   border-radius: 0px 0px 30px 30px;
   transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#nav.scrolled {
    /* ... styles for when navbar has scrolled ... */
    background-color:#faf7f4;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  }
.navbar-section, .navbar-section-2 {
    display: flex;
    color: #171a1f;
    gap: 20px;
    list-style: none;
    font-size: 0.9rem;
}

/* .recycle-button{
    font-size: 1rem;
    border: thin #49A078 solid;
    border-radius: 25px;
    width: 80px;
    height: 40px;
    background-color: transparent;
    color: #49A078;
} */
.navbar-section-2 > button:last-child{
    font-size: 1rem;
    border: #49A078 1 solid;
    border-radius: 25px;
    height: 40px;
    width: 125px;
    border: none;
    background-color: #49A078;
    color: #171a1f;
}


/* ----------HeroTop----------- */
#hero-top{
    height: 150px;
    max-width:1440px;
    margin: auto;
    padding: 25px;
}

.hero-quote{
    max-width:550px;
    font-family: 'Andada Pro', serif;
    font-size: 2.5rem;
    color: #171a1f;
}
.hero-button{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Andada Pro', serif;
    font-size: 2.5rem;
    border: #49A078 1 solid;
    border-radius: 20px;
    height: 40px;
    width: 180px;
    border: none;
    background-color: #49A078;
    color: #171a1f;
}

/* ----------HeroBottom----------- */
#hero-bottom{
    max-width:1440px;
    margin: auto;
    align-items: center;
    height: 800px;
}
.hero-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    max-height:1000px;
   

}
.hero-card-container > div > img{
    border-radius: 25px;
    width: 350px;
    height: 450px;
    gap: 8px;
}

/* ----------Instructional----------- */
#instructional{
    max-width:1440px;
    margin: auto;
    align-items: center;
    height: 800px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.title{
    font-family: 'Epilogue', serif;
    font-size: 2.5rem;
    align-self: start;
    color: #171a1f;
    font-weight: bold;
    margin-bottom: 80px;
}

.instructional-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    gap: 16px;
    align-items: center;
}

.card > img {
    height: 290px;
    width: 290px;
    border-radius: 25px;
}

.card > button {
    font-size: 1rem;
    border: #49A078 1 solid;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    border: none;
    background-color: #49A078;
    color: #171a1f;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Inter', sans-serif;
    align-self: start;
    margin-left: -16px;
}
.card > p {
    text-align: center;
    font-size: 1.25rem;
    font-family: 'Andada Pro', sans-serif;
    max-width: 225px;
    line-height: 1.5;
}

.recycle-button{
    font-size: 1rem;
    border: #49A078 1 solid;
    border-radius: 25px;
    height: 50px;
    width: 150px;
    border: none;
    background-color: #49A078;
    color: white;
}

/* ----------About---------- */
#about{
    max-width:1440px;
    margin: auto;
    align-items: center;
    justify-content: center;
    height:1000px;
    margin-bottom: 100px;
    padding: 25px;
    display: flex;
    flex-direction: column;

}

.about-section{
    width: 90%;
    background-color:#f0e7de;
    height: 800px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap:32px;
}

.about-section-text > h1{
    font-size: 3rem;
    font-family: 'Epilogue', sans-serif;
    font-weight: bolder;
    color:#171a1f;
    padding: 0px 25px 25px 0px;
    
}
.about-section-text{
    align-self: center;
    margin: 0px 10px;
}
.about-section-text > ul > hr {
    width: 25%;
    background-color: #f0e7de;
}
.about-section-text > ul > li{
    padding: 25px 25px 25px 0px;
    font-size: 1.5rem;
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
}
.about-section > div {
    background-color: #f0e7de;
}


.about-section > div > ul > li{
    background-color: #f0e7de;
    list-style: none;
}
.about-img{
    padding-left: 25px;
    width: 380px;
    background-color: #f0e7de;
    align-self: center;
  
}

/* ----------Footer---------- */
#footer{
    bottom: 0;
    height: 220px;
    width: 100%;
    background-color: #171a1f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-section {
    width: 100%;
    max-width: 1440px;
    padding: 25px;
    padding: 40px;
    background-color: #171a1f;
    display: flex;
}

.footer-section > img{
    background-color: transparent;
    align-self: start;
    justify-self: flex-start;
}
.footer-section > ul{
    background-color: #171a1f;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-top: 80px;
    
}
.footer-section > ul > li{
    background-color: #171a1f;
    list-style: none;
    display: flex;
    flex-direction: row;
    
}



/* ----------Recycle Page----------- */
#recycle{
    margin: auto;
}

.recycle-page{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    height: 900px;
    background-color: #faf7f4;
    margin: auto;
}
.input-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    max-width: 45%;
    position: relative;
}

.file-upload{
    width: 80%;
    height: 50px;
    max-width: 320px;

    padding: 20px 80px;
    border-radius: 40px;
    background: #5b5e5b93;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 2;
    font-family: 'Epilogue';
    font-size: 1.5rem;
    text-align: center;
    color: #fffffff3;
}

.file-upload-icon{
    background: transparent;
    margin-top: 8px;
    height: 20px;
    margin-right: 2px;
}

.input-link{
    color: white;
    text-decoration: underline;
}

.input-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-page > div > h2 {
    margin: 5px;
    font-family: 'Andada Pro', sans-serif;
    font-weight: 200;
    color: #222427b0;
    font-size: 1.2rem;
    text-align: center;
}

.input-page > div > h1 {
    font-weight: 500;
    font-family: 'Andada Pro', sans-serif;
    margin: 5px 20px 20px 20px;
    margin-bottom: 600px;
    text-align: center;
    font-size: 2rem;
   
}

.spline{
    width: 90%;
    min-width: 400px;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    z-index: 1;
    max-height: 480px;

}

.output-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    max-width: 45%;
    min-width: 400px;
    min-height: 400px;
    height: 700px;
    position: relative;
    background-color: #e7e5e3;
    border: 1px solid #ddd;
    border-radius: 25px;
    overflow: hidden;
}
.message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 90%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  .messages {
    flex-grow: 1;
    padding: 10px;
    background-color: #e7e5e3;
    max-width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 90%;
  }
  
  .input-area {
    padding: 10px;
    display: flex;
    background-color: #e7e5e3;
  }
  
  .input-area input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
  }
  
  .message-content.bot{
    background-color: #49A078;
    color: white;
  }
  .message-content.user{
    background-color: #414643;
    color: white;
  }
  .input-area button {
    padding: 8px 15px;
    border: none;
    background-color: #49A078;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }
  
  
  .message.user {
    background-color: #414643;
    align-self: flex-end;
    border-bottom-right-radius: 0;
  }
  
  .message.bot {
    background-color: #49A078;
    flex: auto;
    align-self: flex-start;
    border-bottom-left-radius: 0;
  }
  
  /* ----------Educational----------- */
#educational {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background: rgba(174, 173, 173, 0.247);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(2.4px);
    border: 1px solid rgba(174, 173, 173, 0.3);
    border-radius: 25px;
    padding: 25px 0px;
    max-width: 1440px;
    margin: auto;
    margin-bottom: 200px;
}
.educational-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:5px;
    margin:11px;
    max-width: 1000px;
}

.educational-title{
    font-size: 2.5rem;
    color:#171a1f;
    font-family: 'Andada Pro', sans-serif;
    max-width: 1440px;
    margin: auto;
    padding-left: 12px;
    font-weight: 400;
   
}

/* ----------Tablet Devices----------- */
@media (max-width: 1304px) {
    #hero-top{
        height: 150px;
        max-width:1440px;
        margin: auto;
        padding: 25px;
    }

    #hero-bottom{
        max-width:1440px;
        margin: auto;
        justify-content: center;
        align-items: center;
        height: 950px;
        margin-bottom: 150px;
        display: flex;
    }
    .hero-card-container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 8px;
      max-width: 900px;
      /* max-height:950px;
      overflow-y: scroll; */
    }

    #about{
        height:1000px;
        margin-bottom: 100px;
    }
    .about-section{
        height: 800px;
    }
    .about-img{
        padding: 0px;
        width: 320px;  
    }

 
.recycle-page{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    height: 740px;
    background-color: #faf7f4;
    margin: auto;
}
.input-page > div > h2 {
    font-size: 1rem;
}

.input-page > div > h1 {
    font-size: 1.5rem;
}

  }

  @media only screen and (max-width: 1069px){
    #instructional{
        height: 1340px; 
    }
    #hero-bottom{
        max-width:1440px;
        margin: auto;
        justify-content: center;
        align-items: center;
        height: 950px;
        margin-bottom: 150px;
        display: flex;
    }
    #about{
        height:1000px;
        margin-bottom: 100px;
    }
    .about-section{
        height: 800px;
    }
    .about-img{
        width: 300px;        
    }


    .recycle-page{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: 1440px;
        height: 1400px;
        background-color: #faf7f4;
        margin: auto;
    }
    .input-page > div > h2 {
        font-size: 1rem;
    }
    
    .input-page > div > h1 {
        font-size: 1.5rem;
    }




  }



/* ----------Mobile Devices----------- */
@media only screen and (max-width: 768px) {
.hide-on-mobile {
    display: none;
}
/* ----------Nav----------- */
.logo > img{
    height: 55px;
}
.navbar-section, .navbar-section-2 {
    gap: 8px;
    font-size: 0.75rem;
}
.navbar-section-2{
    flex-direction: column-reverse;
    align-items: center;
}
.navbar-section-2 > button:first-child{
    font-size: 0.8rem;
    
    border-radius: 25px;
    width: 70px;
    height: 40px;
    background-color: transparent;
    color: #49A078;
}
.navbar-section-2 > button:last-child{
    font-size: 0.8rem;
    border: #49A078 1 solid;
    border-radius: 25px;
    height: 40px;
    width: 100px;
    border: none;
    background-color: #49A078;
    color: #faf7f4
}

/* ----------HeroTop----------- */
#hero-top{
    height: 350px;
    max-width:1440px;
    margin: auto;
    padding: 25px;
}
.hero-quote{
    margin-bottom: 60px;
}
/* ----------HeroBottom----------- */
#hero-bottom{
    height:450px;
    margin-bottom: 400px;
    
}

.hero-card-container{
    margin-top: 80px;
    flex-direction: column;
}

.hero-card-container > div > img{
    border-radius: 25px;
    width: 48%;
    min-width: 330px;
    height: 450px;
    gap: 8px
}

/* ----------Instructional----------- */
#instructional{
    height: 1820px; 
   
}
#about{
    height:1000px;
    margin-bottom: 100px;
}
.about-section{
    height: 1200px;
}
/* ----------Footer---------- */


.recycle-page{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    height: 1600px;
    background-color: #faf7f4;
    margin: auto;
}
.input-page > div > h2 {
    font-size: 1rem;
}

.input-page > div > h1 {
    font-size: 1.5rem;
}

}