*{
    margin: 0;
    padding: 0;
    background-color:#faf7f4; 
    font-family: 'Inter', sans-serif;
}

/* ----------Nav----------- */
#nav{
    height: 100px;
    max-width:1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   
}
.navbar-section, .navbar-section-2 {
    display: flex;
    color: #171a1f;
    gap: 20px;
    list-style: none;
    font-size: 0.9rem;
}

.navbar-section-2 > button:first-child{
    font-size: 1rem;
    border: thin #49A078 solid;
    border-radius: 25px;
    width: 80px;
    height: 40px;
    background-color: transparent;
    color: #49A078;
}
.navbar-section-2 > button:last-child{
    font-size: 1rem;
    border: #49A078 1 solid;
    border-radius: 25px;
    height: 40px;
    width: 125px;
    border: none;
    background-color: #49A078;
    color: #faf7f4
}


/* ----------HeroTop----------- */
#hero-top{
    height: 150px;
    max-width:1440px;
    margin: auto;
    padding: 25px;
}

.hero-quote{
    max-width:550px;
    font-family: 'Andada Pro', serif;
    font-size: 2.5rem;
    color: #171a1f;
}
.hero-button{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Andada Pro', serif;
    font-size: 2.5rem;
    border: #49A078 1 solid;
    border-radius: 20px;
    height: 40px;
    width: 180px;
    border: none;
    background-color: #49A078;
    color: #171a1f;
}

/* ----------HeroBottom----------- */
#hero-bottom{
    max-width:1440px;
    margin: auto;
    align-items: center;
    height: 800px;
}
.hero-card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    max-height:950px;
    overflow-y: scroll;

}
.hero-card-container > div > img{
    border-radius: 10px;
    width: 350px;
    height: 450px;
    gap: 8px;
}

/* ----------Instructional----------- */
#instructional{
    max-width:1440px;
    margin: auto;
    align-items: center;
    height: 800px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.title{
    font-family: 'Epilogue', serif;
    font-size: 2.5rem;
    align-self: start;
    color: #171a1f;
    font-weight: bold;
    margin-bottom: 80px;
}

.instructional-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}

.card{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 500px;
    gap: 16px;
    align-items: center;
}

.card > img {
    height: 290px;
    width: 290px;
}

.card > button {
    font-size: 1rem;
    border: #49A078 1 solid;
    border-radius: 25px;
    height: 50px;
    width: 50px;
    border: none;
    background-color: #49A078;
    color: #171a1f;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: 'Inter', sans-serif;
    align-self: start;
    margin-left: -16px;
}
.card > p {
    text-align: center;
    font-size: 1.25rem;
    font-family: 'Andada Pro', sans-serif;
    max-width: 225px;
    line-height: 1.5;
}

.recycle-button{
    font-size: 1rem;
    border: #49A078 1 solid;
    border-radius: 25px;
    height: 50px;
    width: 150px;
    border: none;
    background-color: #49A078;
    color: #faf7f4
}
/* ----------Footer---------- */
#footer{
    height: 300px;
}



/* ----------Tablet Devices----------- */
@media (max-width: 1304px) {
    #hero-top{
        height: 150px;
        max-width:1440px;
        margin: auto;
        padding: 25px;
    }

    #hero-bottom{
        max-width:1440px;
        margin: auto;
        justify-content: center;
        align-items: center;
        height: 950px;
        margin-bottom: 150px;
        display: flex;
    }
    .hero-card-container{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 8px;
      max-width: 900px;
      /* max-height:950px;
      overflow-y: scroll; */
    }
  }

  @media only screen and (max-width: 1069px){
    #instructional{
        height: 1340px; 
    }
    #hero-bottom{
        max-width:1440px;
        margin: auto;
        justify-content: center;
        align-items: center;
        height: 950px;
        margin-bottom: 150px;
        display: flex;
    }
 
  }



/* ----------Mobile Devices----------- */
@media only screen and (max-width: 768px) {
.hide-on-mobile {
    display: none;
}
/* ----------Nav----------- */
.logo > img{
    height: 55px;
}
.navbar-section, .navbar-section-2 {
    gap: 5px;
    font-size: 0.75rem;
}
.navbar-section-2{
    flex-direction: column-reverse;
    align-items: center;
}
.navbar-section-2 > button:first-child{
    font-size: 0.8rem;
    
    border-radius: 25px;
    width: 70px;
    height: 40px;
    background-color: transparent;
    color: #49A078;
}
.navbar-section-2 > button:last-child{
    font-size: 0.8rem;
    border: #49A078 1 solid;
    border-radius: 25px;
    height: 40px;
    width: 100px;
    border: none;
    background-color: #49A078;
    color: #faf7f4
}

/* ----------HeroTop----------- */
#hero-top{
    height: 350px;
    max-width:1440px;
    margin: auto;
    padding: 25px;
}
.hero-quote{
    margin-bottom: 60px;
}
/* ----------HeroBottom----------- */
#hero-bottom{
    height:450px;
    margin-bottom: 400px;
    
}

.hero-card-container{
    margin-top: 80px;
    flex-direction: column;
}

.hero-card-container > div > img{
    border-radius: 10px;
    width: 48%;
    min-width: 330px;
    height: 450px;
    gap: 8px
}

/* ----------Instructional----------- */
#instructional{
    height: 1820px; 
   
}

/* ----------Footer---------- */
}